.div-titre-connexion {
    /*background-color: green;*/
    width: 100%;
    height: 17em;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.titre-connexion {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 3em;
}

.div-formulaire-connexion {
    display: flex;
    justify-content: center;
    /*background-color: black;*/
    height: 25em;
}

.formulaire-connexion {
    background-color: lightgrey;
    width: 40%;
    border-radius: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5em;
}

.formulaire-champ {
    margin: 1.5em;
    height: 2em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1em;
    width: 100%;
}