html, body {
    height: 100%; /* Assure que le body et le html occupent toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
}

.div-titre-connexion {
    width: 100%;
    height: 17em;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("image/imageBackground.webp"); 
    background-repeat: no-repeat; 
    background-size: cover; /* Assure que l'image recouvre toute la page */
    background-position: center; /* Centre l'image dans la fenêtre */
}


.titre-connexion {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 4em;
}

.div-formulaire-connexion {
    display: flex;
    justify-content: center;
    height: 50%;
}

.formulaire-connexion {
    background-color: lightgrey;
    width: 40%;
    border-radius: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajout de l'ombre */
    overflow: visible;
}


.formulaire-champ {
    height: 2em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1em;
    width: 30em; /* Les champs occupent 80% de la largeur du conteneur */
    max-width: none; /* Supprime la limite de largeur maximale */
    display: block; 
}

.div-champ-label {
    margin: 1.5em;
    padding: 0.2em;
}

.bouton-champ {
    width: 15em;
    border-radius: 0.3em;
    height: 2em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1em;
    margin-left: 25%;

}

.div-messageErreur {
    margin: 0;
    text-align: center ;
    color: red;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1em;
}

