/*================================================ NAVBAR ========================================================*/

/* Styles pour la barre de navigation */
.navbar-item {
    display: flex; /* Utilise Flexbox pour la disposition */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: flex-start; /* Aligne tout à gauche */
    padding: 1rem; /* Espace intérieur */
}

/* Styles pour le logo */
#logo {
    height: 2.5em; /* Hauteur du logo */
    width: auto; /* Largeur */
    margin-bottom: 2rem; /* Espace entre le logo et les liens */
    margin-left: -0.5em; /* Espace à gauche du logo */
}

/* Styles pour les liens de la navbar */
.Lien {
    display: block; /* Chaque lien sur sa propre ligne */
    padding: 0.75rem 0; /* Espacement vertical entre les liens */
    text-decoration: none; /* Supprime le soulignement */
    font-size: 1.1em; /* Taille de la police */
    color: #000; /* Couleur du texte */
    width: 100%; /* Prend toute la largeur disponible */
    text-align: left; /* Texte aligné à gauche */
}

/* Styles au survol des liens */
.Lien:hover { /* Effet au survol */
    background-color: #f0f0f0; /* Effet au survol */
    border-radius: 8px; /* Bords arrondis au survol */
    padding-left: 0.1rem; /* Légère indentation au survol */
}

/* Styles pour la police du navbar de Google Fonts (liens nécessaires dans la page index.html) */
.noto-sans-0 { 
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Icones des liens de la navbar */
.nav-icon {
    margin-right: 0.5rem; /* Espace entre l'icône et le texte */
}

