/*================================================ NAVBAR ========================================================*/

/* Styles pour la barre de navigation */
.navbar-item {
    display: flex; /* Utilise Flexbox pour la disposition */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: flex-start; /* Aligne tout à gauche */
    padding: 1rem; /* Espace intérieur */
    padding-right: 6em; /* Espace à droite pour éviter le débordement */
}


/* Styles pour le logo */
.logo-icon {
    font-size: 1.25em; /* Taille du logo */
    color: #000; /* Couleur du logo */
    font-weight: 590; /* Poids de la police */
    margin-bottom: 0.08em; /* Espace en dessous du logo */
    margin-top: -0.1em; /* Espace au-dessus du logo */
    padding-bottom: 5em;   /* Espace en dessous du logo */
    padding: 0.5rem; /* Espace intérieur */
    margin-left: -0.18em; /* Décalage vers la gauche */
}

/* Effet au survol du logo */
.logo-icon:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
    border-radius: 8px; /* Bords arrondis */
}





/* Styles pour la navbar fixe */
header {
    position: fixed; /* Fixe la navbar à gauche */
    height: 100vh; /* Hauteur de la fenêtre */
    background-color: white; /* Fond blanc */
    width: 4rem; /* Largeur réduite (icônes seulement) */
    transition: width 0.3s ease; /* Animation fluide */
    overflow: hidden; /* Cache le texte qui dépasse */
}

/* Expansion de la navbar au survol */
header:hover {
    width: 15em; /* Largeur complète au survol */
}



/* Styles pour les liens de la navbar */
.lien {
    display: flex; /* Utilise Flexbox pour aligner l'icône et le texte */
    align-items: center; /* Centre verticalement les éléments */
    padding: 1.1rem 0.4rem; /* Espace intérieur */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-size: 0.93em; /* Taille du texte */
    color: #000; /* Couleur du texte */
    width: 100%; /* Largeur complète */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    border-radius: 8px; /* Bords arrondis */
    padding-right: 4.5em; /* Espace à droite */
}

/* Styles au survol des liens */
.lien:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
}

/* Icones des liens de la navbar */
.nav-icon {
    margin-right: 0.9rem; /* Espace entre l'icône et le texte */
    font-size: 1.4em; /* Taille de l'icône */
    min-width: 1.4em; /* Garde la largeur de l'icône constante */
}

/* Styles pour la police du navbar de Google Fonts */
.noto-sans-0 { 
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.logo-icon {
    margin-bottom: 6em ;
}

#boutonConnexionInscription {
    margin-bottom: 11.8em;
}


/*=============================== RÉINITIALISATION DES STYLES DE BASE (ADAPTION AUX TYPES D'ÉCRANS) ==========================*/

/* Reset de base pour éviter les débordements lorsque la taille de l'écran change */
* {
    box-sizing: border-box; /* Permet de mieux gérer les dimensions des éléments */
}

/* Réinitialisation des marges et paddings par défaut pour éviter les débordements */
body {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
}

/*=========================================== BODY ==========================================*/

/* Conteneur principal pour la mise en page (séparation header et main) */
.layout {
    display: flex; /* Flex pour aligner header (navbar) et main horizontalement */
}


/* Styles pour le contenu principal */
main {
    flex: 1;
    margin-left: 5rem; /* Décalage correspondant à la navbar réduite */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    transition: margin-left 0.3s ease; /* Animation fluide si nécessaire */
}

/*=========================================== STORIES ==========================================*/

/* Conteneur des stories */
.stories-section {
    padding: 1rem; /* Espace autour de la section des stories */
    max-width: fit-content; /* S'adapte au contenu */
    padding-left: 1rem; /* Espace à gauche */
}

/* Conteneur des images de stories */
.stories-container {
    display: flex; /* Utilise un conteneur flex pour afficher les images */
    align-items: flex-start; /* Aligne les images en haut */
    flex-direction: row; /* Aligne les images en ligne */
    gap: 1.8rem; /* Espace entre les images */
    overflow-x: visible; /* Permet le défilement horizontal */
    overflow-y: hidden; /* Cache  le défilement vertical */
    padding-bottom: 0.5rem; /* Espace en bas */
    padding-top: 0.5em; /* Espace en haut */
    padding-left: -1em; /* Espace à gauche */
    max-width: calc((6em + 0.8rem) * 6); /* Limite à 6 images visibles : (largeur image + gap) * 6 */
    scroll-behavior: smooth; /* Défilement fluide */
    scrollbar-width: 1em; /* largeur de la scrollbar*/
    margin-left:22em; /* Décalage vers la droite */
    margin-right: -1em; /* Décalage vers la gauche */
}


/* Styles pour chaque image de story */
.story-image {
    width: 5em; /* Largeur fixe pour chaque image de story */
    height: 5em; /* Hauteur fixe pour chaque image */
    border-radius: 50%; /* Forme circulaire pour les stories */
    object-fit: cover; /* Recadre l'image pour qu'elle remplisse le cercle */
    border: 0.1em solid white; /* Bordure blanche intérieure */
    box-shadow: 0 0 0 0.15em #ff69b4, 0 0 0 0.2em #9370db, 0 0 0 0.2em #dc2743, 0 0 0 0.2em #ff8c00, 0 0 0 0.2em #ffd700;
    padding: 0.15em; /* Espace entre l'image et la bordure */
    flex-shrink: 0; /* Empêche les images de rétrécir */
    margin-left: -1.5em; /* Espace entre les images */
    margin-right: 1.5em; /* Espace entre les images */
    cursor: pointer; /* Curseur en forme de main */
}

/*=========================================== PUBLICATIONS ==========================================*/

/* Conteneur des publications */
.posts-container {
    display: flex; /* Utilise un conteneur flex pour afficher les images */
    align-items: flex-start; /* Aligne les images en haut */
    flex-direction: column; /* Aligne les images en colonne */
    gap: 4em; /* Espace entre les images */
    padding: 0 7em; /* Espace autour des publications */
    align-items: center; /* Centre les images horizontalement */
    max-width: 65%; /* Limite la largeur maximale à 65% */
    margin-left: 20em; /* Décalage vers la droite */
    margin-top: -4em; /* Décalage vers le haut */
    max-height: 50%; /* scale les images pour qu'elles soient moins grandes. */
}

/* Conteneur pour chaque publication (en-tête + image) */
.post-item {
    width: 100%; /* Prend toute la largeur disponible */
    display: flex; /* Utilise flexbox */
    flex-direction: column; /* Aligne en colonne */
}

/* En-tête de la publication (photo + nom) */
.post-header {
    display: flex; /* Utilise flexbox */
    align-items: center; /* Centre verticalement */
    gap: 0.75rem; /* Espace entre la photo et le nom */
    padding: 0.75rem 0; /* Espace en haut et en bas */
    margin-bottom: 0rem; /* Espace avant l'image */
    margin-left: 0.7em; /* Décalage vers la droite */
}

/* Photo de profil dans l'en-tête */
.post-profile-image {
    width: 2em; /* Largeur de la photo de profil */
    height: 2em; /* Hauteur de la photo de profil */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Recadre l'image */
}

/* Nom d'utilisateur dans l'en-tête */
.post-username {
    font-size: 0.9em; /* Taille de la police */
    font-weight: 600; /* Poids de la police */
    color: #262626; /* Couleur du texte */
    flex: 1; /* Prend tout l'espace disponible */
}

/* Icône de 3 points dans l'en-tête */
.post-more-icon {
    font-size: 1em; /* Taille de l'icône */
    color: #262626; /* Couleur de l'icône */
    cursor: pointer; /* Curseur en forme de main */
    margin-right: 33em; /* Décalage vers la gauche */
}

/* Styles pour chaque image de publication */
.post-image {
    width: 85%; /* L'image prend toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
    align-content: center; /* Centre l'image dans le conteneur */
    border-radius: 0.5em; /* Bords légèrement arrondis */
}

/* Conteneur des icônes sous la publication */
.post-actions {
    display: flex; /* Utilise flexbox */
    gap: 1rem; /* Espace entre les icônes */
    padding: 0.75rem 0; /* Espace en haut et en bas */
    margin-top: 0.5rem; /* Espace après l'image */
    margin-left: 1em;
}

/* Icônes d'action (coeur, commentaire, enregistrement) */
.post-action-icon {
    font-size: 1.5em; /* Taille des icônes */
    color: #262626; /* Couleur des icônes */
    cursor: pointer; /* Curseur en forme de main */
    transition: color 0.2s ease; /* Animation fluide */
    margin-top: -0.2em; /* Décalage vers le haut */
}

/* Icône de sauvegarde */
.fa-bookmark {
    margin-left: 13.3em; /* Aligne l'icône de sauvegarde à droite */
}

/* Effet au survol des icônes */
.post-action-icon:hover {
    color: #8e8e8e; /* Couleur grise au survol */
}

/*=========================================== SUGGESTIONS AMIS ==========================================*/

/* Conteneur de la section des suggestions d'amis */
.suggestions-section {
    position: absolute; /* Position absolue pour fixer ne haut mais en laissant défiler avec le contenu */
    top: 0.5rem; /* Position depuis le haut du contenu */
    right: 2rem; /* Position depuis la droite */
    width: 300px; /* Largeur fixe pour la section */
    padding: 0.8rem; /* Espace autour du contenu */
    background-color: white; /* Fond blanc */
    padding-right: 10em; /* Espace à droite pour éviter le débordement */
    margin-left: -20em
}

/* Conteneur des suggestions d'amis */
.suggestions-container {
    display: flex; /* flex pour pouvoir aligner les suggestions */
    flex-direction: column; /* Aligne les suggestions en colonne */
    gap: 1.5rem; /* Espace entre les suggestions */
    padding-right: 8em; /* Espace à droite pour éviter le débordement */
    max-width: calc((3.3em + 1.1rem) * 3); /* Limite à 5 images visibles : (largeur image + gap) * 5 */
    margin-left: -26em; /* Décalage vers la gauche */
    margin-top: -0.8em; /* Décalage vers le haut */
    
}

/* Styles pour l'ensemble des suggestions d'amis */
.suggestion-item {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    flex-direction: row; /* Aligne les éléments en ligne */
    align-items: center; /* Aligne verticalement au centre */
    justify-content: space-between; /* Espace entre les éléments */
    gap: 0.75rem; /* Espace entre les éléments */
    padding: 0.5rem 0; /* Espace en haut et en bas */
    width: 100%; /* Prend toute la largeur disponible */
    margin-top: -2.3em; /* Décalage vers le haut */

}

/* Styles pour chaque image de suggestion d'ami */
.suggestion-image {
    width: 2.9em; /* Largeur fixe pour chaque image de suggestion */
    height: 2.9em; /* Hauteur fixe pour chaque image */
    border-radius: 50%; /* Forme circulaire */
    object-fit: cover; /* Recadre l'image pour qu'elle remplisse le cercle */
    flex-shrink: 0; /* Empêche les images de rétrécir */
    margin-bottom: 0.8em; /* Espace en dessous de l'image */
}

/* Styles pour le nom de chaque suggestion d'ami */
.suggestion-name {
    font-size: 0.80em; /* Taille de police */
    font-weight: 550; /* Poids de la police */
    color: #000; /* Couleur du texte */
    flex: 1; /* Prend tout l'espace disponible */
    margin-left: -0.5em; /* Décalage vers la gauche */
    min-width: 0; /* Important pour que le texte puisse se réduire */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}


/* Styles pour le lien "S'abonner" */
.follow-link {
    font-size: 0.75em; /* Taille de police */
    color: #3897f0; /* Couleur du lien */
    text-decoration: none; /* Pas de soulignement */
    font-weight: 600; /* Poids de la police */
    cursor: pointer; /* Curseur en forme de main */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    flex-shrink: 0; /* Empêche le lien de rétrécir */
    margin-left: 12em; /* Décalage vers la gauche */
}

/* Styles pour le titre de la section des suggestions d'amis */
.suggestions-section h5 {
    font-size: 0.85em; /* Taille de police */
    font-weight: 600; /* Poids de la police */
    margin-bottom: 1rem; /* Marge en bas */
    display: flex; /* Utilise flexbox */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Aligne verticalement au centre */
    width: 100%; /* Prend toute la largeur disponible */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

/* Styles pour le span (Afficher tout) dans le titre des suggestions d'amis */
.suggestions-section h5 span {
    font-size: 0.85em; /* Taille de police */
    font-weight: 600; /* Poids de la police */
    cursor: pointer; /* Curseur en forme de main */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    margin-left: 4.7em; /* Décalage vers la gauche */
}

/* Effet au survol du span (Afficher tout) */
.suggestions-section h5 span:hover {
    color: grey; /* Couleur grise au survol */
}


/* Effet au survol du lien "S'abonner" */
.follow-link:hover {
    color: #1a73e8; /* Couleur bleue plus foncée au survol */
}

/*=========================================== PASTILLE MESSAGES ==========================================*/

/* Conteneur de la pastille de messages */
.messages-badge-section {
    position: fixed; /* Position fixe pour rester visible lors du défilement */
    top: 53.8rem; /* Position depuis le haut de l'écran */
    right: 1.8rem; /* Position depuis la droite de l'écran */
    z-index: 1100; /* Au-dessus de la navbar et du contenu */
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.18), 0px -2px 6px rgba(0, 0, 0, 0.02); /* Ombre en bas et en haut */
    padding: 1em 8em 1em 1em; /* Espacement interne */
    border-radius: 30em; /* Bords arrondis */
}

/* Styles pour le texte dans la pastille de messages */
.messages-badge-section span {
    font-size: 0.95em; /* Taille de police */
    font-weight: 530; /* Poids de la police */
    margin-left: 0.5em; /* Marge à gauche */
}

/* Styles pour l'icône des messages */
.messages-icon {
    font-size: 1.3em; /* Taille de l'icône */
}

/*=================================== ADAPTATION TOUS TYPES D'ÉCRANS ===================================*/
@media (max-width: 1200px) {
    .posts-container {
        max-width: 80%; /* Augmente la largeur maximale à 80% pour les écrans moyens */
    }
    .suggestions-section {
        display: none; /* Cache la section des suggestions d'amis sur les écrans moyens */
    }
}

@media (max-width: 768px) {
    header {
        width: 100%; /* La navbar prend toute la largeur de l'écran */
        height: auto; /* Hauteur automatique */
        position: relative; /* Position relative pour s'adapter au flux */
    }
    main {
        margin-left: 0; /* Supprime le décalage à gauche */
    }
    .layout {
        flex-direction: column; /* Aligne header et main en colonne */
    }
    .posts-container {
        max-width: 100%; /* La largeur maximale est de 100
% pour les petits écrans */
        padding: 0 1rem; /* Réduit le padding autour des publications */
    }
    .stories-section {
        padding: 0.5rem; /* Réduit le padding autour des stories */
    }
    .stories-container {
        max-width: 100%; /* La largeur maximale est de 100
% pour les stories */
        margin-left: 0; /* Supprime le décalage à gauche */
        padding-left: 0; /* Supprime le padding à gauche */
    }
    .suggestions-section {
        display: none; /* Cache la section des suggestions d'amis sur les petits écrans */
    }
    .messages-badge-section {
        top: auto; /* Réinitialise la position depuis le haut */
        bottom: 1rem; /* Position depuis le bas de l'écran */
        right: 1rem; /* Position depuis la droite de l'écran */
    }
}
