/* Suppression des marges et paddings de base, alignement par défaut des éléments */
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

/* Image background */
body {
    background-image: url("image/imageBackground.webp"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

/* CSS pour le titre */
.div-titre-connexion {
    width: 100%;
    max-width: 40em; 
    height: auto; 
    padding: 0;
    margin: 0 auto 1em auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


.titre-connexion {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 4em; 
    text-align: center;
    margin: 0; 
}

/* CSS pour le formulaire */
.div-formulaire-connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40em; 
    padding: 1em; 
    box-sizing: border-box; 
}

.formulaire-connexion {
    background-color: lightgrey;
    width: 100%;
    max-width: 45em; 
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

/* CSS pour les champs du formulaire */
.formulaire-champ {
    height: 3.2em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1.2em;
    width: 100%; 
    max-width: 35em; 
    margin: 0.5em 0; 
    padding: 0.5em; 
    box-sizing: border-box; 
}

.div-champ-label {
    width: 100%; 
    max-width: 25em; 
    margin: 1em 0; 
    text-align: left; 
}

/* CSS pour le bouton du formulaire */
.bouton-champ {
    width: 100%; 
    max-width: 20em; 
    border-radius: 0.3em;
    height: 3.2em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-size: 1.2em;
    margin: 1em auto; 
}

.formulaire-champ,
.bouton-champ {
    font-size: 1.15em;
    height: 3em;
}
